@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;

.eqbanner {
  background: url("../images/eqbanner-bg.jpg") $nr bottom -70px center;  
          background-size: cover;
}

.eqbanner__row {
  position: relative;
  display: flex;
  padding-top: 69px;
}

.eqbanner__left {
  width: 45%;  
}

.eqbanner__subtit {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 9px;
}

.eqbanner__title {
  font-weight: 800;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.eqbanner__text {
  font-size: 17px;
  line-height: 1.6;
}

.eqbanner__prices {
  margin-top: 16px;
  display: flex;
}

.eqbanner__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.eqbanner__availability {
  font-size: 17px;
  color: rgb(1, 217, 36);
  display: inline-block;
  margin-left: 39px;
}

.eqbanner__call-doctor {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(1, 184, 217);
  margin-left: 40px;
}

.eqbanner__info {
  margin-top: 33px;
}

.eqbanner__logos {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;  
          align-items: flex-end;
}

.eqbanner__logo {  
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.eqbanner__right {
  
}

.eqbanner__img {
}

.eqchars {
  padding-top: 66px;
  padding-bottom: 66px;
}

.eqchars__inn {
}

.eqchars__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 10px;
}