@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;

@import "_all.scss";

.eqbanner {
  background: url("../images/eqbanner-bg.jpg") $nr bottom -70px center;  
          background-size: cover;
}

.eqbanner__row {
  position: relative;
  display: flex;
  padding-top: 69px;
}

.eqbanner__left {
  width: 45%;  
}

.eqbanner__subtit {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 9px;
}

.eqbanner__title {
  font-weight: 800;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.eqbanner__text {
  font-size: 17px;
  line-height: 1.6;
}

.eqbanner__prices {
  margin-top: 16px;
  display: flex;
}

.scard__price-w {
  width: 100%;
  margin-bottom: 15px;
}

.scard__price {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  margin-right: 18px;
  font-weight: 600;
}

.scard__old-price {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: line-through;
  color: #828282;
}

.eqbanner__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.eqbanner__availability {
  font-size: 17px;
  color: rgb(1, 217, 36);
  display: inline-block;
  margin-left: 39px;
}

.eqbanner__call-doctor {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(1, 184, 217);
  margin-left: 40px;
}

.eqbanner__info {
  margin-top: 33px;
  display: flex;
}

.sproduct__info-item {
  font-size: 17px;
  line-height: 1.2;
  color: rgb(153, 153, 153);
  display: inline-block;
  margin-right: 37px;
}

.sproduct__info-text {
  color: rgb(0, 0, 0);
}

.eqbanner__logos {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;  
          align-items: flex-end;
          picture {  
  &:not(:last-child) {
    margin-right: 30px;
  }
}
}



.eqbanner__right {
  
}

.eqbanner__img {
}

.eqchars {
  padding-top: 66px;
  padding-bottom: 66px;
  background: #FFF;
}

.eqchars__inn {
}

.eqchars__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.eqchars__tbl {
  td {
    &:first-child {
      width: 50%;
    }
  }
}

.eqchars__garant-row {
  margin-top: 14.5px;  
  align-items: flex-end;
}

.eqchars__more {
  
}

.eqchars__garant {
  padding-left: 45px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.8;
    background-image: url('../images/garant-i.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.eqchars__tit {
    margin-bottom: 10px;    
  font-weight: 600;
font-size: 17px;
line-height: 160%;
color: #999999;

}

.eqchars__ul {
  li {
    color: #999999;
    padding-left: 21px;
    &:before {
      width: 6px;
      height: 6px;
      top: 0.5em;
    }  
  }
}

.eqchars__change-city {
  margin-top: 10px;
  display: inline-block;
}


.abcompany {  
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #f6f7fb;
}

.abcompany__row {

}

.abcompany__txt {
  font-size: 20px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
}


.advproduct {
  padding-bottom: 73px;
  background-color: #FFF;
}


.advproduct__row {  
}


.advproduct__item {
  width: 100%;
}

.advproduct__img-w {
  width: 100%;
  overflow: hidden;  
  height: 235px;
}

.advproduct__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advproduct__content {
  margin-top: 33px;
}

.advproduct__subtitle {
  font-weight: 700;
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 18px;
}

.advproduct__text {
  font-size: 17px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}


.eqslider {
  position: relative;
  padding: 0;
  background-color: #FFF;
  .slick-arrow {
  position: absolute;
  z-index: 12;  
  width: 42px;
  height: 25px;
  border: none;
  background: none;
  font-size: 0;
  background: url("../images/arr-l-sl.svg") $nr center;
  top: 50%;
  opacity: 0.8;  
          transition: 0.5s;
  &:hover {
      opacity: 1;
    }  
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}

.slick-prev {
  left: 72px;  
}

.slick-next {
  right: 72px;  
  transform: rotate(180deg);
}
  
  
    .slick-dots {
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;    
    justify-content: center;
    z-index: 12;
    li {
      font-size: 0;
      background: none;
      padding: 0;
       background: #FFFFFF;
  display: block;
  width: 6px;
  height: 6px;  
    cursor: pointer;
    margin: 0 7px;
  &.slick-active {
    background: rgb(1, 184, 217);
  }
      &:before {
      display: none;
      }  
      button {
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;
      }
    }
  }

}

.eqslider__img {
  
}

.eqslider__actions {
  bottom: 0px;
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 60px;
  position: absolute;
  left: 0px;
}

.eqslider__arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 350px;
}

.eqslider__arrow {
  background: url('../images/arr-l-sl.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.eqslider__arrow-l {
  display: block;
}

.eqslider__arrow-lr {
  display: block;
}

.eqslider__dots {
  display: flex;
  justify-content: center;
}



.eqadvantages {
  background-color: #FFF;
}


.eqadvantages__img-w {
  
}

.eqadvantages__img {
  max-width: 100%;
}

.eqadvantages__content {
  display: flex;  
  flex-wrap: wrap;          
  justify-content: space-between;
}

.eqadvantages__item {
  width: calc(50% - 40px);
  margin-bottom: 75px;
}

.eqadvantages__title {
  font-weight: 700;
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 0.75em;
}

.eqadvantages__text {
  font-size: 17px;
  line-height: 1.6;  
}

.eqbuysection {
  margin-top: 40px;
  background-color: #F6F7FB;
}