@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;

.sproduct-wrapper {
  padding-top: 0px;
  padding-bottom: 0;
}

.sproduct__main {
  background: rgb(255, 255, 255);
  padding: 35px 38px;  
}



.sproduct__top {
}

.sproduct__headings-w {
  display: flex;  
  align-items: flex-end;
  margin-bottom: 13px;
}

.sproduct__headings {
}

.sproduct__art {
  font-weight: 300;
  font-size: 39px;
  
  color: rgb(49, 49, 49);
  margin-bottom: 9px;
}

.sproduct__title {
  font-weight: 800;
  font-size: 38px;  
  color: rgb(49, 49, 49);  
}

.sproduct__info {
}

.sproduct__info-item {
  font-size: 17px;
  line-height: 1.2;
  
  color: rgb(153, 153, 153);
  display: inline-block;
  margin-right: 37px;
}

.sproduct__info-text {
  color: rgb(0, 0, 0);
}

.sproduct__logos {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.sproduct__logo-img {  
  &:not(:last-child) {
    margin-right: 40px;
  } 
}

.scard__row {
  display: flex;
  margin-top: 30px;
}

.scard__left {
  width: 50.5%;
  display: flex;
}

.scard__thumbs {
  width: 116px;
  flex: 0 0 auto;
  margin-right: 30px;
}

.scard__thumb {
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid rgb(204, 210, 227);
  margin-bottom: 30px;
}

.scard__thumb-img {
}

.scard__thumb-big {
  flex: 1 1 auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #CCD2E3;
}

.scard__thumb-big-img {
}

.scard__right {
  width: 55%;
  margin-left: 88px;
}

.scard__right-inn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.scard__chars-w {
  display: flex;
}

.scard__chars-left {
  width: 341px;
  flex: 0 0 auto;
  margin-right: 20px;
}

@import "_all.scss";


.scard__chars-more {
}

.scard__chars-right {
  margin-left: auto;
}

.scard__garant {
  padding-left: 45px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.8;
  background-image: url("../images/garant-i.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.scard__prices-w {
  margin-top: 86px;
}

.scard__prices {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
}

.scard__price-w {
  width: 100%;
  margin-bottom: 15px;
}

.scard__price {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  margin-right: 18px;
  font-weight: 600;
}

.scard__old-price {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: line-through;
  color: #828282;
}

.scard__quick {
  display: inline-block;
  margin-left: 37px;
  margin-right: 37px;
}

.scard__availability {
  display: inline-block;
  margin-left: 36px;
  font-size: 17px;
  color: #01D924;
}

.scard__info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.scard__info-col {
  width: calc(50% - 10px);
}

.scard__info-tit {
  margin-bottom: 10px;
  font-weight: 600;
}

.scard__ul {
}

.scard__li {
}

.scard__info-change-city {
  display: inline-block;
  margin-top: 10px;
}

.excldiller {
  background: rgb(246, 247, 251);
  padding: 71px 59px 76px;
  display: flex;
  margin-bottom: 44px;
  margin-top: 80px;
  margin-bottom: 44px;
}

.excldiller__left {
  font-size: 24px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  width: 50%;
}

.excldiller__right {
  width: 50%;
  padding-left: 89px;
}

.excldiller__title {      
  margin-bottom: 0;
}

.spn {
  color: rgb(1, 184, 217);
  line-height: 1.2;
}

.sadvantages {
  background-image: url("../images/pin-bg-2.jpg");
  background-repeat: no-repeat;
  background-position: right center;  
          background-size: cover;
  padding: 85px 446px 77px 59px;
  display: flex;
}

.sadvantages__left {
  width: 50%;
}

.sadvantages__subtitle {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  margin-bottom: 14px;
}

.sadvantages__list {

}

.sadvantages__list-item {
  
}

.sadvantages__right {
  width: 50%;
  padding-left: 89px;
}


.bio {
  background: rgb(246, 247, 251);
  padding-top: 81px;
  padding-bottom: 84px;
}



.bio__row {
  display: flex;
}

.bio__left {  
  display: flex;  
          justify-content: flex-end;
}

.bio__img {
}

.bio__right {
  width: 50%;
  padding-left: 89px;
  padding-top: 32px;
}

.bio__title {  
  margin-bottom: 15px;
}

.bio__list {
  li {
    font-size: 24px;
    padding-left: 19px;
  }
}

.sla {
  padding-top: 70px;
  padding-bottom: 94px;
  background-color: #FFF;
}

.container {
}

.sla__row {
  
}

.sla__left {
  width: 50%;
}

.sla__title {
  
}

.sla__right {
  
}

.sla__item {
  
}

.sla__img-w {
  height: 229px;
  overflow: hidden;  
}

.sla__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sla__item-txt {
  margin-top: 35px;
  font-size: 24px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}


.fbd {
  padding-bottom: 51px;
  background-color: #FFF;
}



.fbd__row {
  
}

.schars {
  border-bottom: 1px solid rgb(237, 240, 249);
  border-top: 1px solid rgb(237, 240, 249);  
  padding-top: 72px;
  padding-bottom: 73px; 
  display: flex;  
           flex-direction: column; 
           height: 100%;
           -webkit-flex-grow: 1;
                   flex-grow: 1;
}

.schars__title {
  margin-bottom: 33px;
}

.schars__tbl {
  margin-bottom: 25px;
  tr {    
}
  td {
    color: #999;
  padding-bottom: 7px;
  strong {
    color: #000;
  }
}
}





.schars__text {
  font-size: 17px;
  margin-bottom: 0;  
}

.squestions {  
  background: rgb(246, 247, 251);
  padding: 63px 121px 95px 80px;
}

.squestions__form-w {
}

.squestions__title {
  margin-bottom: 27px;
}

.squestions__subtitle {
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
}

.squestions__form {
}

.squestions__form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.squestions__input {  
  background: rgb(255, 255, 255);
  font-size: 17px;  
  padding-left: 30px;
  padding-right: 30px;  
  &::placholder {  
  color: rgb(153, 153, 153);
  }  
}

.squestions__textarea {
  width: 100%;
  background-color: #FFF;
  height: 120px;
  font-size: 17px;
  padding: 30px;
  &::placholder {  
  color: rgb(153, 153, 153);
  }  
}

.squestions__btn {
  margin-top: 30px;
}

.buysection {
  background-color: #022391;
  margin-top: 35px;
}

.buysection__title {
  margin-bottom: 33px;
}

.buysection__form {
  display: flex;  
          align-items: center;  
}

.buysection__price-w { 
margin-right: 42px; 
}

.buysection__price {
  display: inline-block;
    font-size: 40px;
    line-height: 1.2;
    margin-right: 18px;
    color: #FFF;
}
.buysection__old-price {
  display: inline-block;
    font-size: 24px;
    line-height: 1.2;    
    color: #FFF;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #01B8D9;
    }  
}


.buysection__icon-btn {
  color: #FFF;
  .icon {
    width: 32px;
    height: 32px;    
    margin: 0;
  }
}


.eqchars {
}



.eqchars__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  margin-bottom: 17px;
}

.eqchars__row {
  
}

