@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;

.sproduct-wrapper {
  padding-top: 0px;
  padding-bottom: 0;
}

.sproduct__main {
  background: rgb(255, 255, 255);
  padding: 28px 38px;  
  margin-top: -6px;
}

.sproduct__top {
}

.sproduct__headings-w {
  display: flex;  
  align-items: flex-end;
  margin-bottom: 4px;
}

.sproduct__headings {
}

.sproduct__art {
  font-weight: 300;
  font-size: 39px;  
  color: rgb(49, 49, 49);  
}

.sproduct__title {
  font-weight: 800;
  font-size: 38px;  
  color: rgb(49, 49, 49);  
  margin-top: -8px;
}

.sproduct__info {
}

.sproduct__info-item {
  font-size: 17px;
  line-height: 1.2;
  
  color: rgb(153, 153, 153);
  display: inline-block;
  margin-right: 37px;
}

.sproduct__info-text {
  color: rgb(0, 0, 0);
}

.sproduct__logos {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  a {  
    display: inline-block;
  &:not(:last-child) {
    margin-right: 40px;
  } 
}
}



.scard__row {
  display: flex;
  margin-top: 27px;
}

.scard__left {
  width: 50.5%;
  display: flex;
}

.scard__thumbs {
  width: 116px;
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #FFF;
    z-index: 3;
  }  
  .slick-arrow {
    position: absolute;
    bottom: 0;
    background: url("../images/scard__thumb-arrow.svg") $nr center;
    width: calc(50% - 5px);
    height: 24px;
    background-color: #F6F7FB;
    font-size: 0;
    cursor: pointer;
    z-index: 4;
  }
  .slick-next {
    right: 0;
    transform: rotate(180deg);
  }
  .slick-prev {
    left: 0;
  }
}

.scard__thumb {
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid rgb(204, 210, 227);
  margin-bottom: 29px;
  cursor: pointer;
  picture {
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
  }
  &._video {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url("../images/scard__thumb-play.svg") $nr left 20px center;
      background-color: #FFF;
    }  
  }
}

.scard__thumb-img {
}



.scard__thumb-big {
  position: relative;
}

.scard__thumb-big-slider {
  height: 600px;
  width: 600px;
  border: 2px solid #CCD2E3;
  display: flex;  
          align-items: center;
          justify-content: center;
          .slick-slide {
    width: 600px;
  }
}

.scard__thumb-big-slide {
  height: 600px;
  width: 600px;
  picture {
    height: 100%;
    display: flex;
    justify-content: center;        
    align-items: center;
  }
  
}

.scard__thumb-watermark {
  display: block;
    position: absolute;
    top: 31px;
    right: 31px;
    max-width: 195px;    
    z-index: 3;
    img {
      max-width: 100%;
      height: auto;
    }
}

.scard__thumb-big-img {
}

.scard__right {
  width: 55%;
  margin-left: 94px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.scard__right-inn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.scard__chars-w {
  display: flex;
}

.scard__chars-left {
  width: 383px;
  flex: 0 0 auto;
  margin-right: 52px;
}

@import "_all.scss";


.scard__chars-more {
}

.scard__chars-right {
  
}

.scard__garant {
  padding-left: 45px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.8;
  background-image: url("../images/garant-i.svg");
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: -7px;
}

.scard__prices-w {
  margin-top: 91px;
}

.scard__prices {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
}



.scard__availability {
  display: inline-block;
  margin-left: 36px;
  font-size: 17px;
  color: #01D924;
}

.scard__info {
  margin-top: auto;  
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.scard__info-col {
  width: calc(50% - 10px);
}

.scard__info-tit {
  margin-bottom: 10px;
  font-weight: 600;
}

.scard__ul {
  li {
    padding-left: 19px;
    margin-bottom: 2px;
    &:before {
      width: 6px;
      height: 6px;
      top: 0.65em;
    }  
  }
}

.scard__li {
}

.scard__info-change-city {
  display: inline-block;
  margin-top: 18px;
  line-height: 1;
}

.excldiller {
  background: rgb(246, 247, 251);
  padding: 71px 59px 76px;  
  margin-bottom: 44px;
  margin-top: 80px;
  margin-bottom: 43px;  
}

.excldiller__left {
  font-size: 24px;
  line-height: 1.6;
  color: rgb(0, 0, 0);  
}

.excldiller__right {

}

.excldiller__title {      
  margin-bottom: 0;
}

.spn {
  color: rgb(1, 184, 217);
  line-height: 1.2;
}

.sadvantages {  
  background-repeat: no-repeat;
  background-position: right center;  
          background-size: cover;
  padding: 74px 356px 88px 59px;
  
}

.sadvantages__left {
  padding-right: 44px;
}

.sadvantages__subtitle {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  margin-bottom: 16px;
}

.sadvantages__list {
li {
  margin-bottom: 4px;
}
}

.sadvantages__list-item {
  
}

.sadvantages__right {
 padding-left: 44px; 
}


.bio {
  background: rgb(246, 247, 251);
  padding-top: 81px;
  padding-bottom: 84px;
  margin-top: 53px;
}



.bio__row {
  
}

.bio__left {  
          display: flex;
          -webkit-justify-content: flex-start;
                  justify-content: flex-start;
          picture {
            display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
          }
}

.bio__img {
}

.bio__right {  
  padding-top: 27px;
}

.bio__title {  
  margin-bottom: 13px;
}

.bio__list {
  li {
    font-size: 24px;
    padding-left: 25px;
    line-height: 1.55;
    margin-bottom: 2px;
  }
}

.sla {
  padding-top: 76px;
  padding-bottom: 14px;
  background-color: #FFF;
}

.container {
}

.sla__row {
  
}

.sla__left {
  width: 50%;
}

.sla__title {
  
}

.sla__right {
 padding-top: 7px; 
}

.sla__item {
  
}

.sla__img-w {
  height: 229px;
  overflow: hidden;  
}

.sla__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sla__item-txt {
  margin-top: 35px;
  font-size: 24px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}


.eqchars__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  margin-bottom: 17px;
}

.catalogs-pdf-slider {
  padding-top: 68px;
  padding-bottom: 78px;
  border-bottom: 2px solid #edf0f9;
  .section__head .section__title {
    
  }
}


.catalogs__img-w {
  margin-bottom: 26px;
  height: 370px;
  overflow: hidden;
}

.catalogs__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.catalogs__content {
}

.catalogs__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  margin-bottom: 9px;
}

.catalogs__file-link {
  font-size: 17px;
  color: rgb(153, 153, 153);
}

