.scard__price-w {
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.scard__price {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  margin-right: 18px;
  font-weight: 600; }

.scard__old-price {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: line-through;
  color: #828282; }

.scard__tbl {
  margin-bottom: 8px;
  width: 100%; }
  .scard__tbl tr {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .scard__tbl td {
    font-size: 17px;
    color: black;
    padding-bottom: 6px; }
    .scard__tbl td:first-child {
      width: 75%; }
    .scard__tbl td:nth-child(2) {
      padding-left: 5px; }
    .scard__tbl td .dots {
      background: url("../images/dot-td.svg") repeat-x left bottom 6px; }
      .scard__tbl td .dots span {
        background: #fff;
        padding-right: 5px; }

.fbd {
  padding-bottom: 51px;
  background-color: #FFF; }

.schars {
  border-bottom: 1px solid #edf0f9;
  border-top: 1px solid #edf0f9;
  padding-top: 72px;
  padding-bottom: 73px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
      flex-grow: 1; }

.schars__title {
  margin-bottom: 39px; }

.schars__tbl {
  margin-bottom: 25px;
  max-width: 769px; }
  .schars__tbl td {
    color: #999;
    padding-bottom: 7px; }
    .schars__tbl td strong {
      color: #000; }

.schars__text {
  font-size: 17px;
  margin-bottom: 0;
  line-height: 1.7; }

.squestions {
  background: #f6f7fb;
  padding: 63px 121px 95px 80px; }

.squestions__title {
  margin-bottom: 28px; }

.squestions__subtitle {
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  color: black; }

.squestions__form-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }

.squestions__input {
  background: white;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px; }
  .squestions__input::placholder {
    color: #999999; }

textarea.squestions__textarea {
  width: 100%;
  background-color: #FFF;
  min-height: 120px;
  height: 120px;
  font-size: 17px;
  padding: 13px 30px; }
  textarea.squestions__textarea::placholder {
    color: #999999; }

.squestions__btn {
  margin-top: 30px; }

.buysection {
  background-color: #022391;
  margin-top: 33px;
  padding-top: 73px; }

.buysection__title {
  margin-bottom: 33px; }

.buysection__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.buysection__price-w {
  margin-right: 47px; }

.buysection__price {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  margin-right: 12px;
  font-weight: 600; }

.buysection__old-price {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  position: relative; }
  .buysection__old-price:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #01B8D9; }

.buysection__icon-btn--white {
  color: #FFF; }

.buysection__icon-btn--gray {
  color: #CCD2E3; }

.buysection__icon-btn .icon {
  width: 32px;
  height: 32px;
  margin: 0; }

.scard__quick {
  display: inline-block;
  margin-left: 37px;
  margin-right: 37px; }

._no-bg {
  background: none; }

@media (min-width: 1200px) {
  .catalog-similary-slider {
    padding-top: 70px;
    padding-bottom: 120px;
    margin-bottom: -120px; }
    .catalog-similary-slider .section__head .section__title {
      margin-bottom: 48px; }
  .catalog-also-slider {
    padding-top: 30px; }
    .catalog-also-slider .section__head .section__title {
      margin-bottom: 49px; }
  .catalog-also-slider .swiper-container,
  .catalog-similary-slider .swiper-container {
    padding-bottom: 350px;
    margin-bottom: -350px; }
  .catalog-viewed-slider {
    padding-top: 29px;
    padding-bottom: 153px; } }

.catalog-also-slider .swiper-wrapper,
.catalog-similary-slider .swiper-wrapper {
  z-index: 1; }

.catalog-also-slider {
  padding-bottom: 0; }
  .catalog-also-slider .section__title {
    max-width: calc(100% - 220px); }

.catalog-viewed-slider .section__title {
  max-width: calc(100% - 220px); }

body.active {
  background: url("../img/1920.jpg") no-repeat top -10px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #000;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

.eqbanner {
  background: url("../images/eqbanner-bg.jpg") no-repeat bottom -70px center;
  background-size: cover; }

.eqbanner__row {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px; }

.eqbanner__left {
  width: 45%; }

.eqbanner__subtit {
  font-weight: 300;
  font-size: 40px; }

.eqbanner__title {
  font-weight: 800;
  font-size: 40px;
  margin-top: -2px;
  margin-bottom: 25px;
  line-height: 1.05; }

.eqbanner__text {
  font-size: 17px;
  line-height: 1.6; }

.eqbanner__prices {
  margin-top: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px; }
  .eqbanner__prices .scard__price-w {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }

.eqbanner__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 6px; }

.eqbanner__availability {
  font-size: 17px;
  color: #01d924;
  display: inline-block;
  margin-left: 39px; }

.eqbanner__call-doctor {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #01b8d9;
  margin-left: 40px; }

.eqbanner__info {
  margin-top: 33px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sproduct__info-item {
  font-size: 17px;
  line-height: 1.2;
  color: #999999;
  display: inline-block;
  margin-right: 37px; }

.sproduct__info-text {
  color: black; }

.eqbanner__logos {
  position: absolute;
  top: -38px;
  right: 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .eqbanner__logos picture:not(:last-child) {
    margin-right: 30px; }

.eqbanner__right {
  padding-top: 15px;
  padding-left: 24px; }

.eqchars {
  padding-top: 60px;
  padding-bottom: 85px;
  background: #FFF; }

.eqchars__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 23px; }

.eqchars__tbl td:first-child {
  width: 55%; }

.eqchars__garant-row {
  margin-top: 4.5px;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end; }

.eqchars__garant {
  padding-left: 45px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.8;
  background-image: url("../images/garant-i.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.eqchars__tit {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
  color: #999999; }

.eqchars__ul li {
  color: #999999;
  padding-left: 21px; }
  .eqchars__ul li:before {
    width: 6px;
    height: 6px;
    top: 0.5em; }

.eqchars__change-city {
  margin-top: 10px;
  display: inline-block; }

.abcompany {
  padding-top: 73px;
  padding-bottom: 84px;
  background-color: #f6f7fb; }

.abcompany__txt {
  font-size: 20px;
  line-height: 1.6;
  color: black;
  margin-bottom: 0; }

.advproduct {
  padding-bottom: 73px;
  background-color: #FFF; }

.advproduct__item {
  width: 100%; }

.advproduct__img-w {
  width: 100%;
  overflow: hidden;
  height: 235px; }

.advproduct__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.advproduct__content {
  margin-top: 33px; }

.advproduct__subtitle {
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-bottom: 18px; }

.advproduct__text {
  font-size: 17px;
  line-height: 1.6;
  color: black; }

@media (min-width: 1200px) {
  .advproduct__text {
    max-width: calc(100% - 65px); } }

.eqslider {
  position: relative;
  padding: 0;
  background-color: #FFF; }
  .eqslider .slick-slide > div {
    line-height: 1; }
  .eqslider .slick-arrow {
    position: absolute;
    z-index: 12;
    width: 42px;
    height: 25px;
    border: none;
    background: none;
    font-size: 0;
    background: url("../images/arr-l-sl.svg") no-repeat center;
    top: calc(50% - 15px);
    opacity: 0.8;
    transition: 0.5s; }
    .eqslider .slick-arrow:hover {
      opacity: 1; }
    .eqslider .slick-arrow li button {
      padding: 0;
      border: none; }
  .eqslider .slick-prev {
    left: 72px; }
  .eqslider .slick-next {
    right: 72px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .eqslider .slick-dots {
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 12; }
    .eqslider .slick-dots li {
      font-size: 0;
      background: none;
      padding: 0;
      background: #FFFFFF;
      display: block;
      width: 6px;
      height: 6px;
      cursor: pointer;
      margin: 0 7px; }
      .eqslider .slick-dots li.slick-active {
        background: #01b8d9; }
      .eqslider .slick-dots li:before {
        display: none; }
      .eqslider .slick-dots li button {
        padding: 0;
        font-size: 0;
        outline: none;
        border: none; }

.eqslider__actions {
  bottom: 0px;
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 60px;
  position: absolute;
  left: 0px; }

.eqslider__arrows {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 350px; }

.eqslider__arrow {
  background: url("../images/arr-l-sl.svg");
  background-repeat: no-repeat;
  background-position: center; }

.eqslider__arrow-l {
  display: block; }

.eqslider__arrow-lr {
  display: block; }

.eqslider__dots {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.eqadvantages {
  background-color: #FFF;
  padding-bottom: 0;
  margin-bottom: -12px; }

.eqadvantages__img {
  max-width: 100%; }

.eqadvantages__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 58px; }

.eqadvantages__item {
  width: calc(50% - 17px);
  margin-bottom: 75px; }

.eqadvantages__title {
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-bottom: 0.75em; }

.eqadvantages__text {
  font-size: 17px;
  line-height: 1.6; }
  @media (min-width: 1200px) {
    .eqadvantages__text {
      max-width: calc(100% - 30px); } }

.eqbuysection {
  margin-top: 40px;
  background-color: #F6F7FB;
  padding-bottom: 75px; }

.equipment-body .catalog-viewed-slider {
  padding-bottom: 72px; }
