.footer {
  z-index: 1; }

.scard__tbl {
  margin-bottom: 8px;
  width: 100%; }
  .scard__tbl tr {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .scard__tbl td {
    font-size: 17px;
    color: black;
    padding-bottom: 6px; }
    .scard__tbl td:first-child {
      width: 75%; }
    .scard__tbl td:nth-child(2) {
      padding-left: 5px; }
    .scard__tbl td .dots {
      background: url("../images/dot-td.svg") repeat-x left bottom 6px; }
      .scard__tbl td .dots span {
        background: #fff;
        padding-right: 5px; }

.eqbanner {
  background: url("../images/eqbanner-bg.jpg") no-repeat bottom -70px center;
  background-size: cover; }

.eqbanner__row {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 69px; }

.eqbanner__left {
  width: 45%; }

.eqbanner__subtit {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 9px; }

.eqbanner__title {
  font-weight: 800;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 25px; }

.eqbanner__text {
  font-size: 17px;
  line-height: 1.6; }

.eqbanner__prices {
  margin-top: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.scard__price-w {
  width: 100%;
  margin-bottom: 15px; }

.scard__price {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  margin-right: 18px;
  font-weight: 600; }

.scard__old-price {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: line-through;
  color: #828282; }

.eqbanner__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 10px; }

.eqbanner__availability {
  font-size: 17px;
  color: #01d924;
  display: inline-block;
  margin-left: 39px; }

.eqbanner__call-doctor {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #01b8d9;
  margin-left: 40px; }

.eqbanner__info {
  margin-top: 33px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sproduct__info-item {
  font-size: 17px;
  line-height: 1.2;
  color: #999999;
  display: inline-block;
  margin-right: 37px; }

.sproduct__info-text {
  color: black; }

.eqbanner__logos {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.eqbanner__logo:not(:last-child) {
  margin-right: 30px; }

.eqchars {
  padding-top: 66px;
  padding-bottom: 66px;
  background: #FFF; }

.eqchars__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 10px; }

.eqchars__tbl td:first-child {
  width: 50%; }

.eqchars__garant-row {
  margin-top: 14.5px;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end; }

.eqchars__garant {
  padding-left: 45px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.8;
  background-image: url("../images/garant-i.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.eqchars__tit {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
  color: #999999; }

.eqchars__ul li {
  color: #999999;
  padding-left: 21px; }
  .eqchars__ul li:before {
    width: 6px;
    height: 6px;
    top: 0.5em; }

.eqchars__change-city {
  margin-top: 10px;
  display: inline-block; }

.abcompany {
  padding-top: 104px;
  padding-bottom: 104px; }

.abcompany__txt {
  font-size: 20px;
  line-height: 1.6;
  color: black;
  margin-bottom: 0; }

.advproduct {
  padding-bottom: 45px;
  background-color: #FFF; }

.advproduct__item {
  width: 100%; }

.advproduct__img-w {
  width: 100%;
  overflow: hidden;
  height: 235px; }

.advproduct__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.advproduct__content {
  margin-top: 33px; }

.advproduct__subtitle {
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-bottom: 18px; }

.advproduct__text {
  font-size: 17px;
  line-height: 1.6;
  color: black; }
