.sproduct-wrapper {
  padding-top: 0px;
  padding-bottom: 0; }

.sproduct__main {
  background: white;
  padding: 28px 38px;
  margin-top: -6px; }

.sproduct__headings-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4px; }

.sproduct__art {
  font-weight: 300;
  font-size: 39px;
  color: #313131; }

.sproduct__title {
  font-weight: 800;
  font-size: 38px;
  color: #313131;
  margin-top: -8px; }

.sproduct__info-item {
  font-size: 17px;
  line-height: 1.2;
  color: #999999;
  display: inline-block;
  margin-right: 37px; }

.sproduct__info-text {
  color: black; }

.sproduct__logos {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto; }
  .sproduct__logos a {
    display: inline-block; }
    .sproduct__logos a:not(:last-child) {
      margin-right: 40px; }

.scard__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }

.scard__left {
  width: 50.5%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.scard__thumbs {
  width: 116px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 30px;
  position: relative; }
  .scard__thumbs:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #FFF;
    z-index: 3; }
  .scard__thumbs .slick-arrow {
    position: absolute;
    bottom: 0;
    background: url("../images/scard__thumb-arrow.svg") no-repeat center;
    width: calc(50% - 5px);
    height: 24px;
    background-color: #F6F7FB;
    font-size: 0;
    cursor: pointer;
    z-index: 4; }
  .scard__thumbs .slick-next {
    right: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .scard__thumbs .slick-prev {
    left: 0; }

.scard__thumb {
  height: 116px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 2px solid #ccd2e3;
  margin-bottom: 30px;
  cursor: pointer; }
  .scard__thumb picture {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .scard__thumb._video {
    position: relative; }
    .scard__thumb._video:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url("../images/scard__thumb-play.svg") no-repeat left 20px center;
      background-color: #FFF; }

.scard__thumb-big {
  position: relative; }

.scard__thumb-big-slider {
  height: 600px;
  width: 600px;
  border: 2px solid #CCD2E3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .scard__thumb-big-slider .slick-slide {
    width: 600px; }

.scard__thumb-big-slide {
  height: 600px;
  width: 600px; }
  .scard__thumb-big-slide picture {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.scard__thumb-watermark {
  display: block;
  position: absolute;
  top: 31px;
  right: 31px;
  max-width: 195px;
  z-index: 3; }
  .scard__thumb-watermark img {
    max-width: 100%;
    height: auto; }

.scard__right {
  width: 55%;
  margin-left: 88px; }

.scard__right-inn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%; }

.scard__chars-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.scard__chars-left {
  width: 341px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px; }

.scard__tbl {
  margin-bottom: 8px;
  width: 100%; }
  .scard__tbl tr {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .scard__tbl td {
    font-size: 17px;
    color: black;
    padding-bottom: 6px; }
    .scard__tbl td:first-child {
      width: 75%; }
    .scard__tbl td:nth-child(2) {
      padding-left: 5px; }
    .scard__tbl td .dots {
      background: url("../images/dot-td.svg") repeat-x left bottom 6px; }
      .scard__tbl td .dots span {
        background: #fff;
        padding-right: 5px; }

.fbd {
  padding-bottom: 51px;
  background-color: #FFF; }

.schars {
  border-bottom: 1px solid #edf0f9;
  border-top: 1px solid #edf0f9;
  padding-top: 72px;
  padding-bottom: 73px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
      flex-grow: 1; }

.schars__title {
  margin-bottom: 33px; }

.schars__tbl {
  margin-bottom: 25px; }
  .schars__tbl td {
    color: #999;
    padding-bottom: 7px; }
    .schars__tbl td strong {
      color: #000; }

.schars__text {
  font-size: 17px;
  margin-bottom: 0; }

.squestions {
  background: #f6f7fb;
  padding: 63px 121px 95px 80px; }

.squestions__title {
  margin-bottom: 27px; }

.squestions__subtitle {
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  color: black; }

.squestions__form-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }

.squestions__input {
  background: white;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px; }
  .squestions__input::placholder {
    color: #999999; }

.squestions__textarea {
  width: 100%;
  background-color: #FFF;
  height: 120px;
  font-size: 17px;
  padding: 30px; }
  .squestions__textarea::placholder {
    color: #999999; }

.squestions__btn {
  margin-top: 30px; }

.buysection {
  background-color: #022391;
  margin-top: 35px; }

.buysection__title {
  margin-bottom: 33px; }

.buysection__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.buysection__price-w {
  margin-right: 42px; }

.buysection__price {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  margin-right: 18px;
  font-weight: 600; }

.buysection__old-price {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  position: relative; }
  .buysection__old-price:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #01B8D9; }

.buysection__icon-btn--white {
  color: #FFF; }

.buysection__icon-btn--gray {
  color: #CCD2E3; }

.buysection__icon-btn .icon {
  width: 32px;
  height: 32px;
  margin: 0; }

.scard__quick {
  display: inline-block;
  margin-left: 37px;
  margin-right: 37px; }

._no-bg {
  background: none; }

.catalog-similary-slider {
  padding-bottom: 120px;
  margin-bottom: -120px; }

@media (min-width: 1200px) {
  .catalog-also-slider .swiper-container,
  .catalog-similary-slider .swiper-container {
    padding-bottom: 350px;
    margin-bottom: -350px; } }

.catalog-also-slider .swiper-wrapper,
.catalog-similary-slider .swiper-wrapper {
  z-index: 1; }

.catalog-also-slider {
  padding-bottom: 0; }
  .catalog-also-slider .section__title {
    max-width: calc(100% - 220px); }

.catalog-recommended-slider .section__title {
  max-width: calc(100% - 220px); }

body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #000;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

.scard__chars-right {
  margin-left: auto; }

.scard__garant {
  padding-left: 45px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.8;
  background-image: url("../images/garant-i.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.scard__prices-w {
  margin-top: 86px; }

.scard__prices {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.scard__price-w {
  width: 100%;
  margin-bottom: 15px; }

.scard__price {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  margin-right: 18px;
  font-weight: 600; }

.scard__old-price {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: line-through;
  color: #828282; }

.scard__availability {
  display: inline-block;
  margin-left: 36px;
  font-size: 17px;
  color: #01D924; }

.scard__info {
  margin-top: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.scard__info-col {
  width: calc(50% - 10px); }

.scard__info-tit {
  margin-bottom: 10px;
  font-weight: 600; }

.scard__info-change-city {
  display: inline-block;
  margin-top: 10px; }

.excldiller {
  background: #f6f7fb;
  padding: 71px 59px 76px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  margin-top: 80px;
  margin-bottom: 44px; }

.excldiller__left {
  font-size: 24px;
  line-height: 1.6;
  color: black;
  width: 50%; }

.excldiller__right {
  width: 50%;
  padding-left: 89px; }

.excldiller__title {
  margin-bottom: 0; }

.spn {
  color: #01b8d9;
  line-height: 1.2; }

.sadvantages {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  padding: 85px 446px 77px 59px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sadvantages__left {
  width: 50%; }

.sadvantages__subtitle {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  color: black;
  margin-bottom: 14px; }

.sadvantages__right {
  width: 50%;
  padding-left: 89px; }

.bio {
  background: #f6f7fb;
  padding-top: 81px;
  padding-bottom: 84px; }

.bio__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.bio__left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%; }
  .bio__left picture {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

.bio__right {
  width: 50%;
  padding-left: 89px;
  padding-top: 32px; }

.bio__title {
  margin-bottom: 15px; }

.bio__list li {
  font-size: 24px;
  padding-left: 19px; }

.sla {
  padding-top: 70px;
  padding-bottom: 94px;
  background-color: #FFF; }

.sla__left {
  width: 50%; }

.sla__img-w {
  height: 229px;
  overflow: hidden; }

.sla__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.sla__item-txt {
  margin-top: 35px;
  font-size: 24px;
  line-height: 1.6;
  color: black; }

.eqchars__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  color: black;
  margin-bottom: 17px; }

.catalogs-pdf-slider {
  padding-top: 86px;
  padding-bottom: 83px;
  border-bottom: 2px solid #edf0f9; }

.catalogs__img-w {
  margin-bottom: 24px;
  height: 370px;
  overflow: hidden; }

.catalogs__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.catalogs__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  color: black;
  margin-bottom: 9px; }

.catalogs__file-link {
  font-size: 17px;
  color: #999999; }
